body, html {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    background-color: var(--primary-cream);
    overflow: auto;
    height: 100%;
}

:root {
    --primary-cream: hsl(30, 38%, 92%);
    --primary-dark-cyan: hsl(158, 36%, 37%);
    --neutral-dark-blue: hsl(212, 21%, 14%);
    --neutral-dark-grayish-blue: hsl(228, 12%, 48%);
    --neutral-white: hsl(0, 0%, 100%);
}

.preview-card {
    display: inline-flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 1rem;
    border-radius: .75rem;
    overflow: hidden;
}

.preview-card > * {
    flex: 1;
}

.preview-card__details {
    padding: 1.75rem;
    background-color: var(--neutral-white);
}

.preview-card__category {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.4rem;
    color: var(--neutral-dark-grayish-blue);
}

.preview-card__title {
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2rem;
    margin: 1rem 0;
}

.preview-card__description {
    color: var(--neutral-dark-grayish-blue);
    line-height: 1.60rem;
    font-size: 1rem;
}

.preview-card__add_cart_btn {
    display: block;
    width: 100%;
    background-color: var(--primary-dark-cyan);
    color: white;
    border: none;
    padding: .75rem;
    border-radius: .3rem;
}

.preview-card__prices {
    height: 3rem;
    margin: 1.25rem 0;
}

.preview-card__curr-price {
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 2rem;
    color: var(--primary-dark-cyan);
    vertical-align: middle;
}

.preview-card__prev-price {
    color: var(--neutral-dark-grayish-blue);
    text-decoration: line-through;
    vertical-align: middle;
    padding: 1rem;
}

@media only screen and (orientation: portrait) {
    .preview-card {
        position: relative;
        left: auto;
        top: auto;
        transform: initial;
        flex-direction: column;
    }
} 

@media only screen 
  and (max-device-width: 280px)
  and (orientation: portrait) {
    .preview-card__curr-price {
        font-size: 1.5rem;
    }
}


@media only screen 
  and (max-device-width: 1023px)
  and (orientation: landscape) {
    .preview-card {
        position: relative;
        left: auto;
        top: auto;
        transform: initial;
        flex-direction: column;
        margin: 4rem;
    }
}

@media only screen 
  and (min-device-width: 768px) 
  and (min-device-width: 1024px)
  and (orientation: landscape) {
    .preview-card {
        width: 62vw;
    }
    
    .preview-card__title {
        font-size: 2.5rem;
        line-height: 2.5rem;
    }

    .preview-card__description {
        font-size: 1.25rem;
        line-height: 2rem;
    }

    .preview-card__prices {
        height: 5rem;
    }

    .preview-card__curr-price {
        font-size: 3rem;
    }
}

@media only screen 
  and (min-device-width: 1024px)
  and (orientation: portrait) {
    .preview-card {
        width: 61vw;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        flex-direction: inherit;
    }
}

@media screen
    and (min-device-width: 1390px) 
    and (max-device-height: 1310px) {
    .preview-card {
        width: 42vw;
    }

    .preview-card__title {
        font-size: 2.5rem;
        line-height: 2.5rem;
    }

    .preview-card__description {
        font-size: 1.25rem;
        line-height: 2rem;
    }

    .preview-card__prices {
        height: 5rem;
    }

    .preview-card__curr-price {
        font-size: 3rem;
    }
}

@media only screen and (min-device-width: 2024px) {
    .preview-card {
        width: 31vw;
    }
}  